{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container">

        {% if not reservations %}
        <div class="jumbotron mt-5 bg-dark text-white text-center">
          <div class="alert alert-danger" role="alert">
            Aucune réservation..
          </div>
          <a class="btn btn-lg btn-success" href="{% url 'index' %}">Accueil</a>
        </div>
        {% endif %}

        <center>

        {% for r in reservations %}
            {% if forloop.first %}<div class="row">{% endif %}
            <div class="col-md-4">
                      <div class="card text-center mt-5 ml-2 mr-2 h-120 w-200 ">
                        <div class="card-header">
                          <h2> <b> {{ r.titre }} </b> </h2>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><h4>{{ r.lieu_debut }} &#8594; {{ r.lieu_fin }}</h4></p>
                          <p class="card-text">Conducteur : {{ r.utilisateur }}</p>
                        </div>
                        <div class="card-footer text-muted">
                          <a href="{% url 'details' r.id %}" class="btn btn-primary">Voir les détails</a>
                        </div>
                      </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

      </center>

    </div>

{% endblock %}
