<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />

    {% load staticfiles %}

    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />

    <link href='{% static "fullcalendar/core/main.css" %}' rel='stylesheet' />
    <link href='{% static "fullcalendar/daygrid/main.css" %}' rel='stylesheet' />
    <link href='{% static "fullcalendar/timegrid/main.css" %}' rel='stylesheet' />
    <link href='{% static "fullcalendar/bootstrap/main.css" %}' rel='stylesheet' />
    <link href='{% static "fullcalendar/list/main.css" %}' rel='stylesheet' />

    <script src='{% static "fullcalendar/core/main.js" %}'></script>
    <script src='{% static "fullcalendar/daygrid/main.js" %}'></script>
    <script src='{% static "fullcalendar/timegrid/main.js" %}'></script>
    <script src='{% static "fullcalendar/bootstrap/main.js" %}'></script>
    <script src='{% static "fullcalendar/list/main.js" %}'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
          timeZone: 'UTC',
          themeSystem: 'bootstrap',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
          },
          weekNumbers: true,
          eventLimit: true, // allow "more" link when too many events
          events:
          [
            {% for i in events %}
                  {
                      title : "{{ i.title }}",
                      start : '{{ i.start }}',
                      end : '{{ i.end }}'
                  },
            {% endfor %}
          ]
        });

        calendar.render();
      });

    </script>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-dark bg-dark">
      {% load staticfiles %}
      <a class="navbar-brand" href="{% url 'index' %}">
        <img  width="30" height="30" src="{% static "icon.png" %}" alt="icon">    CampingCar !
      </a>

      {% if user.is_authenticated %}

        <div class="dropdown show">
          <a class="btn btn-success ml-auto" href="{% url 'profil' %}" role="button">
            {{ user.username }}
          </a>
        </div>

      {% else %}

        <a class="btn btn-success border" href="{% url 'index' %}">Se connecter</a>

      {% endif %}
    </nav>

    <div class="container">

      <br>
      <div id='calendar'></div>

    </div>

  </body>
</html>
