{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container text-center">

        <div class="jumbotron mt-5 bg-dark text-white">
        <h1 class="display-4">Bienvenue</h1>

        {% if user.is_authenticated %}


        <p>
          <center>
            <table>
              <tr>
                <td>
                  <a class="btn btn-lg btn-info" href="{% url 'new_reservation' %}">Faire une réservation</a>
                </td><td>
                  &nbsp;&nbsp;
                </td><td>
                  <a class="btn btn-lg btn-info" href="{% url 'calendar' %}">Voir le calendrier</a>
                </td><td>
                  &nbsp;&nbsp;
                </td><td>
                  <a class="btn btn-lg btn-info" href="{% url 'view_all_reservation' %}">Voir les réservations</a>
                </td>
              </tr>
            </table>
          </center>
        </p>

        <p>
          <center>
            <table>
              <tr>
                <td>
                   <a class="btn btn-lg btn-success" href="{% url 'profil' %}">Mon profil</a>
                </td><td>
                  &nbsp;&nbsp;
                </td><td>
                  <a class="btn btn-lg btn-danger" href="{% url 'logout' %}?next=/">Se déconnecter</a>
                </td>
              </tr>
            </table>
          </center>
        </p>

        {% else %}

        <p class="lead">Connecte toi pour proposer faire une réservation ou voir le calendrier.</p>
        <a class="btn btn-lg btn-success border" href="{% url 'login' %}">Se connecter</a>

        {% endif %}

        </div>

    </div>



          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  {% endblock %}
