{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container text-center">

        <div class="jumbotron mt-5 bg-dark text-white">

          <h1 class="display-4 text-success">Succès !</h1>

          <p class="lead text-white">
            La réservation a bien été prise en compte.
          </p>

          <br>

          <hr style="width: 100%; color: white; height: 1px; background-color:white;" />

          <p>
            <h2> <b>{{ reservation_infos.titre }}</b> </h2>

            </br>

            <table class="table table-bordered table-dark text-center">
              <tbody>
                <tr>
                  <td colspan="3">De <b>{{ reservation_infos.lieu_debut }} à {{ reservation_infos.lieu_fin }}</b></td>
                </tr>
                <tr>
                  <td colspan="3">Du <b>{{ reservation_infos.date_debut }} au {{ reservation_infos.date_fin }}</b></td>
                </tr>
                <tr>
                  <td><b>Conducteur</b></td>
                  <td><b>Distance</b></td>
                  <td><b>Description</b></td>
                </tr>
                <tr>
                  <td>{{ reservation_infos.utilisateur }}</td>
                  <td>{{ reservation_infos.distance }} km</td>
                  <td>{{ reservation_infos.description }}</td>
                </tr>
              </tbody>
            </table>

            <br>

          </p>

          <hr style="width: 100%; color: white; height: 1px; background-color:white;" />

          <br>

          <center>
            <a class="btn btn-lg btn-success" href="{% url 'index' %}">Accueil</a>
          </center>

        </div>

    </div>



          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  {% endblock %}
