{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container">
        <div class="jumbotron mt-3 bg-dark text-white">
          <div class="container">
            <center>
              <h1 class="display-4">Ajoute ton trajet.</h1>
            </center>
          </div>

            {% load crispy_forms_tags %}


            {% block form %}

            {{ form.media }}

            <form method="post" novalidate>
              {% csrf_token %}
              {{ form.titre|as_crispy_field }}
              <div class="row">
                <div class="col-6">
                    {{ form.date_debut|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.date_fin|as_crispy_field }}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{ form.lieu_debut|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.lieu_fin|as_crispy_field }}
                </div>
              </div>
              {{ form.distance|as_crispy_field }}
              {{ form.description|as_crispy_field }}
              <center>
                <button type="submit" class="btn btn-success">Enregistrer la réservation</button>
              </center>
            </form>

            {% endblock %}

        </div>
      </div>



      {% endblock %}
