{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container">

      <div class="jumbotron text-white bg-dark mt-3">
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-4">Votre profile, {{ user.username }}.</h1>
          </div>
          <div class="col-md-4">
            <div class="card bg-success text-light" style="width: 18rem;">
              <div class="card-body mx-auto">
                <h2>Eco-score <span class="badge badge-light">{{ kilometrage }} km</span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">

                <div class="card">
                  <div class="card-header bg-dark text-light">
                    <h5 class="card-title">Réservations proposées</h5>
                  </div>
                </div>

                <div id="accordion">

                  {% if not reservations %}

                  <div class="card">
                    <div class="card-header bg-warning" id="heading">
                      <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse">
                        Aucune reservation</button>
                      </h5>
                    </div>
                  </div>

                  {% endif %}


                  {% for reservation in reservations %}

                  <div class="card">
                    <div class="card-header bg-light" id="heading">
                      <h5 class="mb-0">
                        {{ reservation.titre }} | {{ reservation.lieu_debut }} &rightarrow; {{ reservation.lieu_fin }} &nbsp; &nbsp; <a class="btn btn-info" href="{% url 'details' reservation.id %}" "> Détails </a>
                      </h5>
                    </div>
                  </div>

                  {% endfor %}

                </div>

          </div>

        </div>

  {% endblock %}
