{% extends 'reservation/base.html' %}

  {% block content %}

      <div class="container text-center">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="card mt-5">
              <div class="card-header">
                <h1> <b> {{ r.titre }} </b> </h1>
              </div>
              <div class="card-body">
                <h5 class="card-title"><b>{{r.lieu_debut}} &#8594; {{r.lieu_fin}}</b></h5>

                <p class="card-text">
                  <table class="table table-bordered text-center">
                    <tbody>
                      <tr>
                        <td><b>Conducteur</b></td>
                        <td><b>Distance</b></td>
                        <td><b>Description</b></td>
                      </tr>
                      <tr>
                        <td>{{ r.utilisateur }}</td>
                        <td>{{ r.distance }} km</td>
                        <td>{{ r.description }}</td>
                      </tr>
                    </tbody>
                  </table>
                </p>

              </div>
              <div class="card-footer text-muted">
                Du {{ r.date_debut }} au {{ r.date_fin }}.
              </div>
            </div>
          </div>
        </div>

        <br><br>
        <a class="btn btn-lg btn-success" href="{% url 'index' %}">Accueil</a>

      </div>

{% endblock %}
